	<div class="container">
		<div class="d-flex justify-content-center ">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<!-- <div class="brand_logo_container"> -->
						<h3> Student Companion </h3>
					<!-- </div> -->
				</div>
				<div class="d-flex justify-content-center form_container">
					<form>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="" class="form-control input_user" value="" placeholder="username" ng-model="userName">
						</div>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="" class="form-control input_pass" value="" placeholder="password" ng-model="password">
						</div>

                        <div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="" class="form-control input_pass" value="" placeholder="Confirm password" ng-model="confirmPassword">
						</div>


                        <div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope"></i></span>
							</div>
							<input type="text" name="" class="form-control input_pass" value="" placeholder="email" ng-model="emailId">
						</div>


                        <div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="" class="form-control input_pass" value="" placeholder="first name" ng-model="firstName">
						</div>

                        <div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="" class="form-control input_pass" value="" placeholder="last name" ng-model="lastName">
						</div>
						
						<div class="d-flex justify-content-center mt-3 login_container">
				 	<button type="button" name="button" class="btn login_btn" ng-click="register()">Register</button>
				   </div>
					</form>
				</div>
			</div>
		</div>
	</div>

