
    <p>Flashcards Page </p>
<div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Select or Create your Deck
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item"  data-toggle="modal" data-target="#createDeckModal">Create New Deck</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#" ng-model="deck_name" ng-repeat="eachdeck in decks" ng-click="selectedDeckFromDropDown()" data-toggle="collapse" data-target="#ShowFlashCard">{{eachdeck.title}}</a></li>
    </ul>

<!-- Modal -->
<div class="modal fade" id="createDeckModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create A New Deck</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Name your new deck" ng-model="new_deck_name"  aria-label="Username">
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" ng-model="ModelData.decks" >
          <label class="form-check-label" for="flexCheckDefault">
            From already created decks
          </label>
          <div class="form-group" ng-show="ModelData.decks">
           <ul class="list-group">
              <li class="list-group-item" ng-repeat="eachdeck in decks">
              <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
              {{eachdeck.title}}
              </li>
         </ul> 
  
  </div>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="saveDeck()">Create</button>
      </div>
    </div>
  </div>
</div>
    </div>
<div class="collapse" id="ShowFlashCard">
     <div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Recall</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#CreateFlashCard">New Card</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Front</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary" data-toggle="collapse" data-target="#ShowAnswer" >Show/Hide Answer</a>
  </div>
  <div class="collapse" id="ShowAnswer">
  
  <div class="card-body">
    <h5 class="card-title">Back</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-success">EASY</a>
    <a href="#" class="btn btn-warning">MEDIUM</a>
    <a href="#" class="btn btn-danger">HARD</a>
  </div>
</div>
</div>
</div>

<div class="collapse" id="CreateFlashCard">
     <div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#ShowFlashCard">Recall</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">New Card</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
     <form>
<div class="form-group">
    <label for="exampleFormControlTextarea1">Front</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div> 
  
  <div class="card-body">
    <h5 class="card-title">Back</h5>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Back</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <a href="#" class="btn btn-success">Save</a>
  </form>
  </div>
</div>
</div>


    <div ui-view>
    </div>
    
    
    
