<div class="container">
  <div class="row">
    <div class="col">
        <h4> Search Friends</h4>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p>You can search for your friends on this platform and add them here ..!</p>
                    </div>
                </div>
            </div> 
        </div>
    
        <div class="row">
            <div class="col-6">
                <div class="input-group  input-group-sm">
                    <label class="input-group-text" for="searchFilter">Search By: </label>
                    <select class="form-select" ng-model="searchFilter" id ="searchFilter">
                        <option ng-repeat="x in searchOptions">{{x}}</option>
                    </select>
                  </div>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" placeholder="Enter {{searchFilter}}" aria-label="Last name" ng-model="searchQuery">
            </div>

            <div class="col-2"> 
                <button ng-disabled="!searchFilter || !searchQuery" class="btn btn-primary" ng-click="searchFriend()">Search </button>
            </div>

            
        </div>
    </div>
    <div class="col" ng-if="friends">
      <span><h4> Friends List <i class="fas fa-sync" aria-hidden="true"></i></h4></span>

      <div>
		<table class="table table-hover text-centre table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>S.No</th>
					<th>Name</th>
					<th>Username</th>
				</tr>
			</thead>
			<tbody>
                <tr ng-repeat = "friend in friends track by $index">
                    <td>{{$index + 1}}</td>
					<td>{{friend.first_name}}  {{friend.last_name}} </td>
					<td>{{friend.username}}</td>
                </tr>
			</tbody>
		</table>
	</div>

    </div>
  </div>
</div>


<!-- Add Friend Popup section -->



<!--  -->
<script type="text/ng-template" id="add_friend_popup.html">
    <div class="modal-header">
        <h3 class="modal-title">Search Results</h3>
    </div>
    <div class="modal-body">
        <div ng-if="friend && friend.status"> 
            <p>Sorry no user found for your query !! Please try changing the username/email</p>
        </div>

        <div ng-if="friend && !friend.status"> 
            <p> Do you want to Add {{friend.first_name}}  {{friend.last_name}} to your list of friends ?</p>
        </div>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Yes</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>